<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login as Admin</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
	<div class="head">
		<h3>Login as Admin:</h3>	
		<form action="/" method="get">
				<button class="exit" type="submit"> <span class="material-icons">close</span></button>
		</form>
	</div>
	<div class="menu">
		<form action="/admin" method="post">
		<br>
		<p>Username:</p>
			<input type="text" placeholder="username" name="username" >
		<p>Password:</p>
			<input type="text" placeholder="password" name="password">
		<br>
		<br>
			<input class="button" type=submit value="Submit" >			
		</form>
		<br>
		<br>
		
	</div>
</body>

</html>