<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Update was successful!</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>

<body>
	<div class="head">
		<h3>The modification is completed!</h3>
		<form action="/" method="get">
				<button class="exit" type="submit"> <span class="material-icons">close</span></button>
		</form>
		<form action="/admin/" method="post">
			<button class="back" type="submit"><span class="material-icons">arrow_back</span></button>
		</form>
	</div>
	<div class="menu">
		<p class="emphasise">The modificated word is the following: </p>
		<p th:text="${updatedWord.english}"></p>
		<p th:text="${updatedWord.hungarian}"></p>
		<p th:text="${updatedWord.example}"></p>
	</div>			
</body>
</html>