<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vocabulary Quiz: Main Page</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
</head>

<body>
	<div class="head">
		<h1>Welcome to Tudor!</h1>
		<h3>english learning and quiz application </h3>
	</div>	
	<div class="menu">
		<form action="/vocabulary" method="get">
			<button class="button" id="vocabulary" type="submit">Open the vocabulary</button>
		</form>
		<form action="/login" method="post">
			<button class="button" type="submit">login</button>
		</form>
		<form action="/signIn" method="get">
			<button class="button" type="submit">Create an account</button>
		</form>
		<form action="/adminLogin" method="get">
			<button class="button"  type="submit">Admin</button>
		</form>
	</div>
</body>

</html>
