<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>New word has been added!</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>

<body>
	<div class="head">
		<h3>New word has been inserted into the database!</h3>
		<form action="/" method="get">
				<button class="exit" type="submit"> <span class="material-icons">close</span></button>
		</form>
		<form action="/admin/" method="post">
			<button class="back" type="submit"><span class="material-icons">arrow_back</span></button>
		</form>
	</div>
	<div>
		<p class="emphasize">The inserted word is the following: </p>
		<p th:text="${word.english}" ></p>
		<p th:text="${word.hungarian}"></p>
		<p th:text="${word.example}"></p>
	</div>		
</body>
	
</html>