<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>The Quiz has ended!</title>
	</head>

	<body>
	
		<h2 th:text="${text}"></h2>
		
		<br>
		<br>
		
			<form action="/user" method="post">
				
				<p>Click here to step back:</p>
					
				<br>
				
				<button type="submit">Back</button>
			
			</form>
			
		<br>
		<br>
		
			<form action="/" method="get">
				
				<p>Click here to exit:</p>
					
				<br>
				
				<button type="submit">Exit</button>
			
			</form>
			

	</body>
	
	
</html>