<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	</head>
	
	
	<body>
	
	<h4 style="text-align:center" >You are on the registration page!</h4>
			
		<form action="/signIn/result" method="post">
				
			<p>Enter your username:</p>
				<input type="text" name="username" >
						
					<br>
					<br>
							
			<p>Enter your password:</p>
				<input type="text" name="password">
						
					<br>
					<br>
						
				<input type=submit >
							
		</form>
	

	</body>
	
</html>