<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>

<body>
	<div class="head">
		<h3>You are on the registration page!</h3>
		<form action="/" method="get">
				<button class="exit" type="submit"> <span class="material-icons">close</span></button>
		</form>
	</div>
	<div class="menu">
		<form action="/signIn/result" method="post">
			<p>Enter your username:</p>
			<input type="text" name="username" >	
			<br>
			<br>		
			<p>Enter your password:</p>
			<input type="text" name="password">
			<br>
			<br>
			<input class="button" type=submit value="Submit" >				
		</form>
	</div>
</body>
	
</html>