<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>User Main Page</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Amiri&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>

<body>

	<div class="head">
		<h1>Welcome! </h1>
		<h3 th:text="${user.username}"></h3>
		<form action="/" method="get">
			<button class="exit" type="submit"> <span class="material-icons">close</span></button>
		</form>
	</div>
	
	<div class="bigContainer">	
		<div class="menu">
			<form action="/user/settings" method="post">
				<button class="button" type="submit">Start a new Quiz!</button>
			</form>	
			<br>
			<form action="/user/mistakenWords" method="post">
				<button class="button" type="submit">Mistaken words</button>
			</form>
		</div>
		
		<div class="menu">
			<p class="emphasize">Your points: </p>
			<br>
			<p>Points of PhrasalVerbs-Challenge: <span th:text="${user.phrasalVerbPoints}"></span></p>
			<p>Points of Collocation-Challenge:<span th:text="${user.collocationsPoints}"></span></p>
			<p>Points of Nouns-Challenge:<span th:text="${user.nounsPoints}"></span></p>
			<p>Points of Adjectives-Challenge: <span th:text="${user.adjectivesPoints}"> </span></p>
			<p>Points of Sentences-Challenge: <span th:text="${user.sentencesPoints}" ></span></p>
			<p>Points of Adverbs-Challenge: <span th:text="${user.adverbsPoints}"></span> </p>
			<p>Points of Informatic-Vocabulary-Challenge: <span th:text="${user.informaticVocabularyPoints}"></span></p>
		</div>
		
		<div class="menu">
			<p class="emphasize">Your statistics: </p>
			<br>
			<p>Number of all attempts: <span th:text="${user.attempts}"></span></p>	
			<p>Number of all wins: <span th:text="${user.wins}"></span></p>
			<p>Number of all failed attempts: <span th:text="${user.lost}"></span></p>
			<p>Number of all wins on Easy mode: <span th:text="${user.winsEasy}" ></span></p>	
			<p>Number of all wins on Medium mode: <span th:text="${user.winsMedium}"></span></p>
			<p>Number of all wins on Hard mode: <span th:text="${user.winsHard}"></span></p>
		</div>
		
		<div class="menu">
			<p class="emphasize">Your Ranks:</p>
			<br>
			<p>Phrasal Verbs Category Gold Award: <span th:text="${ranksList.get(0)}"></span></p>
			<p>Collocation Gold Award: <span th:text="${ranksList.get(1)}"></span></p>
			<p>Nouns Gold Award: <span th:text="${ranksList.get(2)}"></span></p>
			<p>Adjectives Gold Award:<span th:text="${ranksList.get(3)}"></span></p>
			<p>Sentences Gold Award: <span th:text="${ranksList.get(4)}"></span></p>
			<p>Adverbs Gold Award:<span th:text="${ranksList.get(5)}"></span></p>
			<p>Informatic Vocabulary Gold Award: <span th:text="${ranksList.get(6)}"></span></p>
			<p>Noble Award: <span th:text="${ranksList.get(7)}"></span></p>
			<p>Baron Award: <span th:text="${ranksList.get(8)}"></span> </p>
			<p>King Award: <span th:text="${ranksList.get(9)}"></span> </p>
			<p>Demigod Award: <span th:text="${ranksList.get(10)}"></span></p>
		</div>	
	</div>			
</body>

</html>